/* Movie Blocks */

.movie-block{
    width: 200px;
    height: 270px;
    border-radius: 20px;
    transition: transform 0.3s, width 0.3s, height 0.3s;
}

.movie-block:hover{
    transform: scale(1.1);
}

.movie-container {
    position: relative;
    width: 200px;
    height: 270px;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.movie-container:hover {
    transform: scale(1.1);
}

.movie-block {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
    padding: 20px;
}

.movie-container:hover .img-overlay {
    opacity: 1;
}

.btn-movies{
    width: auto;
    height: 30px;
}

.add-btn{
    width: auto;
    height: 30px;
}

