@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Luckiest+Guy&display=swap');

/* Global Styles */
body{
    background-color: #FFE6D0;
}

h1,h2,h3,h4,h5{
    font-family: 'Luckiest Guy', cursive;
    color: #FFE6D0;
}

p{
    font-family: 'Lato', sans-serif;
    color: #FFE6D0;
}

/* ------------------------------------------------------------------- */
/* Nav Bar */
nav{
    border-bottom: solid 3px #BB2525;
}

.form-control{
    background-color: #BB2525;
    height: 50px;
    border-radius: 25px;
    color:#F6E9DC;
    font-family: 'Lato', sans-serif;
    border: none;
}

.nav-link h4{
    color:#FFE6D0;
    margin-bottom: -8px;
}

.nav-link h4:hover{
    color:#BB2525;
}

/* Carousel */

.carousel-item{
    position: relative;
    z-index: 1;
}

.img-fluid{
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative; 
}

.overlay {
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0; 
    left: 0; 
    z-index: 1; 
}


.card {
    background-color: rgba(255, 255, 255, 0);
    color: #FFE6D0;
    position: relative;
    z-index: 2; 
    border: none;
}

.background-img {
    /* For Desktop */
    width: 100%;
    object-fit: cover;
    height: 100vh; 
}

@media (max-width: 768px) {
    /* For tablets and smaller screens */
    .background-img {
        height: 70vh; 
    }
}

@media (max-width: 576px) {
    /* For mobile devices */
    .background-img {
        height: 60vh;
    }
}

.card .img-fluid {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .card .img-fluid {
        max-width: 40%; 
        height: auto;
    }
}


/* Movie Blocks */
/* Default Styles (for mobile and tablet) */
.movie-block {
    width: 300px;
    height: 340px;
    border-radius: 20px;
    transition: transform 0.3s, width 0.3s, height 0.3s;
  }
  
  .movie-block:hover {
    transform: scale(1.1);
  }
  
  .movie-container {
    position: relative;
    width: 300px;
    height: 340px;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .movie-container:hover {
    transform: scale(1.1);
  }
  
  .movie-block {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 20px;
  }
  
  .movie-container:hover .img-overlay {
    opacity: 1;
  }
  
  .btn-movies {
    width: auto;
    height: 30px;
  }
  
  .add-btn {
    width: auto;
    height: 30px;
  }
  
  /* Media Query for Desktop */
  @media (min-width: 1024px) {
    .movie-container {
      width: 200px; /* Adjust the size as needed for desktop */
      height: 260px; /* Adjust the size as needed for desktop */
    }
  
    .movie-block {
      width: 200px; /* Adjust the size as needed for desktop */
      height: 260px; /* Adjust the size as needed for desktop */
    }
  }

  /* media Query for  */
  @media (max-width: 1023px) {
    .movie-container {
      width: 180px; /* Adjust the size as needed for desktop */
      height: 240px; /* Adjust the size as needed for desktop */
    }
  
    .movie-block {
      width: 180px; /* Adjust the size as needed for desktop */
      height: 240px; /* Adjust the size as needed for desktop */
    }

    .banner{
        width: auto;
        height: 45px;
        margin-bottom: -20px;
        margin-left: -40px;
    }
  }
  



/* Banners */

.banner-container{
    position: relative;
}

.banner{
    width: auto;
    height: 80px;
}

.banner2{
    width: auto;
    height: 80px;
    margin-bottom: 50px;
    margin-top: 30px;
}

@media (max-width: 992px) {
    .banner{
        width: auto;
        height: 55px;
        margin-bottom: -20px;
    }
}

@media (max-width: 768px) {
    .banner{
        width: auto;
        height: 45px;
        margin-bottom: -20px;
        margin-left: -40px;
    }
}

.banner-container h1{
    opacity: 0;
}

@media (max-width: 575px){
    .banner{
        opacity: 0;
        width: 20px;
    }
    .banner-container h1{
        color:#BB2525;
        opacity: 1;
    }
}

/* Footer */
.footer-socials{
    width: auto;
    height: 50px;
}

.logo-footer{
    width: auto;
    height: 100px;
}

ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
  background: #63AD9E;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #BB2525;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  letter-spacing: 1px;
}



/*filter*/
.custom-dropdown .btn {
    background-color: #F6E9DC;
    color: black;
    border-color: #BB2525;
    margin-bottom: 10px;
}

.custom-dropdown .dropdown-menu {
    background-color: #F6E9DC;
}

.custom-dropdown .dropdown-item {
    color: black;
}

.custom-dropdown .dropdown-item:hover {
    background-color: #BB2525;
    color: white;
}

.custom-button {
    background-color: #F6E9DC;
    border-color: #BB2525;
    color: black;
}

.custom-button:hover {
    background-color: #BB2525;
    color: white;
}

.custom-dropdown .btn:active,
.custom-dropdown .btn:focus {
    background-color: #BB2525;
    color: white;
}

