.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    margin: 0 auto;
    margin-bottom: -50px;
}

.nav-img{
    background-image: url(../assets/Nav\ Background\ AI-01.svg);
}