@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Global Styles */

body{
    background-color: #FFE6D0;
}

h1,h2,h3,h4,h5{
    font-family: 'Luckiest Guy', cursive;
    color: #FFE6D0;
}

p{
    font-family: 'Lato', sans-serif;
    color: #FFE6D0;
}

.nav {
    z-index: 2;
    width: 100.7%;
    height: 70px;
}

.logo-img{
    width: auto;
    height: 135px;
    margin: 0 auto;
    margin-left: 46.12%;
    margin-top: -144vh;
}

.frame-nav{
   margin-top: -625px;
}

.user-icon{
    margin-top: -15px;
}

.search{
    background: #BB2525;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    color: #FFE6D0; 
    margin-top: -5px;
    margin-left: -20px;
    padding-right: 20px;
}

.frame-nav h4{
    color: #FFE6D0; 
    text-decoration: none; 
}

.frame-nav h4:hover {
    color: #BB2525; 
    text-decoration: underline;
}
.heroImage {
    height: 100vh;
    background-image: url(/assets/movie/Movie.png);
    margin-top: -6vh;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: relative;
}

.heroImageGradient {
    background: linear-gradient(180deg, rgba(255, 230, 208, 0.00) 0%, #FFE6D0 100%);
    height: 80%; 
    position: absolute;
    bottom: 0;
    width: 100%;
}

.playButton{
    margin-top: -10px;
    z-index: 1;
}

.Moviebanner {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjust the width as needed */
    max-width: 1200px; /* Optional: Set a maximum width if needed */
    z-index: 1; /* Ensure it's above the hero image */
  }

.Moviebanner img {
    width: 100%;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    color: #FFE6D0;
    font-family: 'Luckiest Guy', cursive;
}

.movieContent {
    border-radius: 5px;
    background: #BB2525;
    background-blend-mode: lighten, normal;
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.30);
    width: 85%;
    height: fit-content;
    flex-shrink: 0;
    margin: 5% auto 2%;
}

.row1 {
    display: flex; /* Use flexbox to arrange child elements horizontally */
    align-items: center; /* Center vertically */
    width: 100%;
    margin: 5px auto 0; /* Center horizontally and add 5px margin from the top */
    height: 85%;
    padding: 0 10px;
    padding-top: 10px;
}

.MoviePoster{
    width: 15%;
    height: 100%;
    border-radius: 2%;
}

.MovieText {
    height: 100%;
    width: 85%;
    padding: 0 10px;
}

.MovieText h3 {
    color: #FFE6D0;
    text-align: left;
    leading-trim: both;
    text-edge: cap;
    font-family: Luckiest Guy;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.MovieText h6 {
    color: rgba(255, 230, 208, 0.90);
    leading-trim: both;
    text-edge: cap;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.MovieText h4 {
    color: rgba(255, 230, 208, 0.90);
    leading-trim: both;
    text-edge: cap;
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
}

.MovieText p {
    color: rgba(255, 230, 208, 0.90);
    leading-trim: both;
    text-edge: cap;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttons{
    width: 100%;
    height: 15%;
    padding: 0 10px;
    padding-top: 10px;
}

.wishlistBtn{
    background-color: #FF6969;
    border-radius: 50px;
    color: #FFE6D0;
    leading-trim: both;
    text-edge: cap;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 8px 40px;    
}

.trailerBtn{
    background-color: #007297;
    color: #FFE6D0;
    border-radius: 50px;
    leading-trim: both;
    text-edge: cap;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 8px 40px; 
}

/* Footer */
footer{
    width: 100%;
    height: 100px;
    background-color: #63AD9E;
}

.logo-footer{
    width: auto;
    height: 100px;
    margin: 0 auto;
}

.footer-content{
    margin-top: 10px;
}

.footer-socials{
    margin-top: 25px;
}

.container{
    margin: 0 0;
}

.row{
    width: 100%;
}