@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Luckiest+Guy&display=swap');

/* Global Styles */
h1,h2,h3,h4,h5{
    font-family: 'Luckiest Guy', cursive;
    color: #FFE6D0;
}

p{
    font-family: 'Lato', sans-serif;
    color: #FFE6D0;
}

*{
    margin: 0px;
    padding: 0px;
    color: #FFE6D0;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #FFE6D0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

.banner-container{

    width: 100%;
    height: fit-content;
    display: grid;
    place-items: center ;
    flex-grow: 1;

}

.banner-container>img{
    width: 80%;
    height: auto;
    
}

.banner-text{
    display: none;
}



#cards-container{
    width: 100%;
    flex-grow: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: scroll;
}


.card-content-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.genres{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.delete{
    background-color: #FF6969;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

i{
    color: white;
}

.card{
    max-width: 85%;
    border-radius: 20px;
    max-height: 250px;
    position: relative;
}

.col-md-2{
    display: flex;
    justify-content: start;
    place-items: center;
    position: relative;
    max-height: 100%;
}

.col-md-2>img{
    height: 90%;
    width: auto;
    margin-left: 5px;
    max-height: 90%;
}

.g-0{

    max-height: 100%;
    position: relative;

}


nav{
    background-color: #FF6969;
    border-bottom: #BB2525;
}

.form-control{
    background-color: #BB2525;
    height: 50px;
    border-radius: 25px;
    color:#F6E9DC;
    font-family: 'Lato', sans-serif;
    border: none;
}

.nav-link h4{
    color:#F6E9DC;
    margin-bottom: -8px;
}

.nav-link h4:hover{
    color:#BB2525;
}

.active h4{
    color: #BB2525;
    text-decoration: underline;
}


/* Footer */
.footer-socials{
    width: auto;
    height: 50px;
}

.logo-footer{
    width: auto;
    height: 100px;
}

ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
  background: #63AD9E;
  position: relative;
  max-height: 150px !important;

}

.footer-cta {
  border-bottom: 1px solid #BB2525;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  letter-spacing: 1px;
}



.banner-container{
    position: relative;
}

.banner{
    width: auto;
    height: 80px;
}

.banner2{
    width: auto;
    height: 80px;
    margin-bottom: 50px;
    margin-top: 30px;
}



.banner-container{
    position: relative;
}

.banner{
    width: auto;
    height: 80px;
}

.banner2{
    width: auto;
    height: 80px;
    margin-bottom: 50px;
    margin-top: 30px;
}

@media (max-width: 992px) {
    .banner{
        width: auto;
        height: 55px;
        margin-bottom: -20px;
    }
}

@media (max-width: 768px) {
    .banner{
        width: auto;
        height: 45px;
        margin-bottom: -20px;
        margin-left: -40px;
    }
}

@media (max-height: 768px) {
    .banner{
        width: auto;
        height: 45px;
        margin-bottom: -20px;
        margin-left: -40px;
    }
    body{
        gap: 0px;
    }
    #cards-container{
        flex-grow: 7;
    }
}

.banner-container h1{
    opacity: 0;
}

@media (max-width: 575px){
    #cards-container{
        flex-grow: 7;
    }
    body{
        gap: 0px;
    }
    .banner{
        opacity: 0;
        width: 20px;
    }
    .banner-container h1{
        color:#BB2525;
        opacity: 1;
        display: block;
        font-size: 2.5rem;
    }
}
